# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#development files
build/
devel/

#eclipse settings
.cproject
.settings/

#large files
*.bag

#gedit temp files
*~
